<div class="d-flex justify-content-between mb-3">
    <h1 class="">Table Developer</h1>
    <div class="">
        <p-dropdown [options]="option" [(ngModel)]="select" placeholder="Select a City" optionLabel="name" [showClear]="true"></p-dropdown>
        <p-dropdown [options]="option" [(ngModel)]="select" placeholder="Select a City" optionLabel="name" [showClear]="true"></p-dropdown>
        <p-button (click)="createDeveloper()" class="text-nowrap" label="Add new product">
        </p-button>
    </div>
</div>

<div class="px-3">
    <table class="table table-light px-2">
        <thead>
            <tr class="text-center row">
                <th scope="col" class="col-1 border-end">#</th>
                <th scope="col" class="col-3 border-end">Name</th>
                <th scope="col" class="col-3 border-end">Link sosial</th>
                <th scope="col" class="col border-end">Description</th>
                <th scope="col" class="col-2 border-end">Option</th>
            </tr>
        </thead>
        <tbody>
            <tr class="row text-center" *ngFor="let item of developers; let i = index">
                <th scope="row" class="col-1 py-3">{{ i + 1 }}</th>
                <td class="col-3 py-3">{{ item.devName }}</td>
                <td class="col-3 py-3"><img width="70px" height="70px" [src]="item.devAvatar"></td>
                <td class="col-3 py-3">
                    {{ item.description.slice(0,50) +"..." }}
                </td>
                <td class="col-2">
                    <button class="btn btn-primary me-1" (click)="getDeveloper(item._id)">
            <i class="bi bi-pencil-square"></i>
          </button>
                    <button class="btn btn-success">
            <i class="bi bi-person"></i>
          </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<p-dialog header="Header" [(visible)]="displayModal" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <form class="row" [formGroup]="developerForm">
        <div class="col-12">
            <label class="form-label">Developer Name</label>
            <input class="form-control" [formControlName]="controlName.name" />
        </div>
        <div class="col-12 mt-3">
            <label class="form-label">Description</label>
            <input class="form-control" [formControlName]="controlName.description" />
        </div>
        <div class="col-12 mt-3 text-center">
            <img class="mb-3" [src]="avatardev">
            <input class="form-control" [formControlName]="controlName.devAvatar" />
        </div>
        <div class="col-12 mt-3">
            <label class="form-label">Social Link</label>
            <div [formArrayName]="controlName.devLinkSocialMedia">
                <div class="d-flex justify-content-between gap-2">
                    <input #linkSocial type="text" class="form-control">
                    <button type="button" class="btn bi bi-plus" (click)="addLinksocial(linkSocial.value)"></button>
                </div>

                <div *ngFor="let item of devLinkSocial?.controls; let i = index" [formControlName]="i">
                    <a [href]="item.value">{{item.value}}</a>
                    <button class="btn" (click)="deleteLinksocial(i)">-</button>
                </div>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <p-button *ngIf="createNew" icon="pi pi-check" (click)="confirmCreate()" label="Create" styleClass="p-button-text"></p-button>
        <p-button *ngIf="!createNew" icon="pi pi-check" (click)="confirmUpdate()" label="Update" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>