<div class="row mb-3">
    <h1 class="col">Products</h1>
    <div class="col d-flex gap-1 justify-content-between align-items-center">
        <select class="form-select" aria-label="Default select example">
      <option selected>Sort value</option>
      <option>Name</option>
      <option>Time</option>
    </select>
        <select class="form-select" aria-label="Default select example">
      <option selected>Filter Value</option>
      <option>Categlory</option>
      <option>Active</option>
    </select>
        <button type="button" class="btn btn-primary text-nowrap" (click)="newProduct()">
      Add new product
    </button>
    </div>
</div>

<div class="px-3">
    <table class="table table-light px-2">
        <thead>
            <tr class="text-center row">
                <th scope="col" class="col border-end">#</th>
                <th scope="col" class="col-2 border-end">Image</th>
                <th scope="col" class="col-3 border-end">Name</th>
                <th scope="col" class="col-2 border-end">Price</th>
                <th scope="col" class="col-2 border-end">Option</th>
                <th scope="col" class="col-2 border-end">Active</th>
            </tr>
        </thead>
        <tbody>
            <tr class="row text-center" *ngFor="let item of products; let i = index">
                <th scope="row" class="col py-3">{{ i + 1 }}</th>
                <td class="col-2">
                    <img [src]="item.imgX.url" height="70px" width="50px" alt="" />
                </td>
                <td class="col-3 py-3">{{ item.productName }}</td>
                <td class="col-2 py-3">${{ item.price }}</td>
                <td class="col-2">
                    <button class="btn btn-primary me-1" (click)="getProduct(item._id)">
            <i class="bi bi-pencil-square"></i>
          </button>
                    <button class="btn btn-success">
            <i class="bi bi-person"></i>
          </button>
                    <button class="btn btn-danger ms-1">
            <i class="bi bi-trash"></i>
          </button>
                </td>
                <td class="col-2 py-3">
                    <span class="px-3 py-1 border border-2 border-secondary rounded">{{
            item.isActive
          }}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>